.form-container {
	background-color: rgba(255, 255, 255, 0.832);
	margin-top: 20px;
}
.form-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	padding: 30px 20px;
}
.actual-form {
	overflow: hidden;
}
.actual-form form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}
form input {
	padding: 10px;
	width: 90%;
}
form input[type='submit'] {
	width: 50%;
	background-color: rgba(0, 0, 255, 0.846);
	border: none;
	color: #fff;
}
.form-description {
	width: 80%;
	overflow: hidden;
}

.social-media-icons {
	margin-top: 15px;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.social-icon {
	font-size: 48px;
}
