.section-services {
	padding: 50px 40px;
}

.services-container p {
	margin-bottom: 3rem;
}

.service {
	background-color: #fff;
	border-radius: 10px;
	padding: 1rem;
	text-align: center;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.service-title {
	text-transform: uppercase;
	letter-spacing: 0.1;
	margin-bottom: 1.5rem;
	margin-top: 0.6rem;
}

.service-icon-container {
	border-radius: 50%;
	border: 5px solid gray;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.service-icon-container .service-icon {
	font-size: 32px;
	color: red;
}
